.box {
    background-color: rgb(245, 4, 253);
    color: rgb(52, 255, 7);
    text-align: center;
    padding: 30px;
    border: 10px solid rgb(250, 250, 0);
   margin-top: 30px;
   margin-bottom: 100px;
   margin-left: 670px;
   margin-right: 670px;
}

.box2 {
    background-color: rgb(3, 243, 211);
    color: rgb(0, 12, 12);
    text-align: center;
    padding: 30px;
    border: 10px solid rgba(18, 7, 244, 0.933);
    margin-left: 670px;
    margin-right: 670px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.box3 {
    background-color: rgb(255, 0, 0);
    color: rgb(239, 129, 12);
    text-align: center;
    padding: 30px;
    border: 10px solid purple;
    margin-left: 670px;
    margin-right: 670px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.box4 {
    background-color: darkorange;
    color: firebrick;
    text-align: center;
    padding: 35px;
    border: 5px solid darkslateblue;
    margin-left: 670px;
    margin-right: 670px;
    margin-top: 60px;
    margin-bottom: 100px;



}