
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-image: url(https://picsum.photos/200/300?grayscale);
}

.parents{

align-items: center;
justify-content: center;
background-color: rgb(1, 142, 142);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.box {
    background-color: rgb(235, 235, 235);
    color: rgb(240, 0, 0);
    text-align: center;
    padding: 30px;
    border: 20px solid rgb(3, 246, 201);
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 350px;
   margin-right: 350px;
   box-sizing: border-box;
   width: 700px;

}

.parent-child h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    text-decoration: black;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
      gap: 40px;

}

.nav{
    display: flex;
    background-color: rgb(65, 34, 94);
     align-items: center;
    color:white;
    justify-content: space-around;
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.nav1{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.nav1 a{
    display: flex;
    text-decoration: none;
    color:white;
    gap:20px;

}

.child1
{
    display:flex;
    background-color: rgb(98, 235, 232);
    max-width:500px;
    padding:60px;
}
 
@media (max-width:1600px){

    .child{
        font-size: 13px;
        
    }
}
@media (max-width:1440px){
       
    .child {
         background-color: transparent;
         color: transparent;
        
    }
}
@media (max-width:1024px){

    .child{
        font-size: 13px;
        background-color: aqua;
        color: black;
        
    }
}
@media (max-width:768px){

    .child {
         background-color: transparent;
         color: transparent;
        
    }
}
@media (max-width:425px){

    .child{
        font-size: 13px;
        background-color: rgb(250, 240, 100);
        color: black;
        
    }
}
.form {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    gap:10px;
    width:100%;
    
}
input,textarea{
    padding: 10px;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
}
input [type="submit"]{
    color:white;
    cursor:pointer;
    background-color: rgb(52, 43, 226);
}
input:focus,textarea:focus{
    border-color: red;
    outline: none;
}
button{
    background-color: rgb(5, 127, 130);
    color: white;
    font-size: 16px;
    padding: 10px;
    border:none;

}
button:hover{
    background-color: rgb(6, 248, 232);
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap:20px;
    padding: 20px;
     
}

.cards {
  background-color: rgb(57, 55, 55);
  display:flex;
  padding:10px;
  margin:10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap:15px;
}
          

.child1 {
    display:flex;
    padding: 30px;
    

}
.child1:hover {
    transform: scale(1.1) rotateX(400deg);
    
}
.notes
{
     
    padding:40px;
}